<nav class="nav navbar-inverse">
        <div class="container-fluid">
            
            <div class ="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar2" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
            <!--<a class="navbar-brand" href="/">Movies-Watch it</a>-->
            </div>
            
            <div class= "collapse navbar-collapse" id="bs-navbar2">
                <ul class="nav navbar-nav navbar-left">
                        <li><a href="/" class="mode active"></a></li> 
                        <li><a href="/home/1/28" class="mode"> Action </a> </li>
                        <li><a href="/home/1/12" class="mode"> Adventure  </a></li>
                        <li><a href="/home/1/35" class="mode"> Comedy  </a></li>
                        <li><a href="/home/1/18"  class="mode"> Drama  </a></li>
                        <li><a href="/home/1/53"  class="mode"> Thriller  </a></li>
                        <li><a href="/home/1/10749"  class="mode"> Romance  </a></li>
                        <li><a href="/list/1" class="navbar-right mode"> Saved lists </a></li>
                </ul>
            </div>
            
        </div>
</nav>

